<div class="spinner-border" *ngIf="loading">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Listado de Clientes</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row thinka-box">
    <div class="col-2">
      <button class="thinka-btn-add" (click)="openDialog(null)"> Agregar Cliente </button>
    </div>
    <!-- <div class="col-1 offset-8">
      <button class="thinka-btn-view"> Importar </button>
    </div>
    <div class="col-1">
      <button class="thinka-btn-edit"> Exportar </button>
    </div> -->
  </div>
</div>

<div class="container-fluid">
  <div class="row thinka-box">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Registro</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Fecha de Inicio">
          <input matEndDate placeholder="Fecha de Termino">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Estado de Cliente</mat-label>
        <mat-select>
          <mat-option value="1">Activo</mat-option>
          <mat-option value="2">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Estado de Proyecto</mat-label>
        <mat-select>
          <mat-option value="1">Completado</mat-option>
          <mat-option value="2">Pendiente</mat-option>
          <mat-option value="3">Atrasado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Busqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button class="thinka-btn-do"> Aplicar Filtro</button>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="thinka-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="contactNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro Contacto </th>
      <td mat-cell *matCellDef="let row"> {{row.contactNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="workline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rubro </th>
      <td mat-cell *matCellDef="let row"> {{row.workline}} </td>
    </ng-container>

    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dominio </th>
      <td mat-cell *matCellDef="let row"> {{row.domain}} </td>
    </ng-container>

    <ng-container matColumnDef="contactPlatform">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plataforma Contacto</th>
      <td mat-cell *matCellDef="let row"> {{row.contactPlatform}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación </th>
      <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
    </ng-container>


    <ng-container matColumnDef="customerStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row">
         @if (row.clientStatus == 'NEW') {
          <span class="btn btn-primary w-100">Nuevo</span>
         }
         @else if(row.clientStatus == 'LEAD') {
          <span class="btn btn-danger w-100">Lead</span>
         }
         @else if(row.clientStatus == 'CUSTOMER'){
          <span class="btn btn-success w-100">Cliente</span>
         }
         @else {
           <span class="btn btn-warning w-100">No Interesado</span>
         }
         </td>
    </ng-container>

    <ng-container matColumnDef="inCharge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> A Cargo </th>
      <td mat-cell *matCellDef="let row"> {{row.inCharge}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
      <td mat-cell *matCellDef="let row">
        <button class="thinka-btn-edit" (click)="openDialog(row.id)"> 
          <img src="../../../assets/icons/crud/edit.svg">
          
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
      <td mat-cell *matCellDef="let row">
        <button class="thinka-btn-delete" (click)="delete(row.id)">
          <img src="../../../assets/icons/crud/delete.svg">
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay resultados.</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>